
@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        @{
            string company = "TransFlower";
            <h1 id="title">@company</h1>
        }
        <a href="/Product/Index"> Product</a>

        <p class="lead">Online Shopping Portal</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

   
</main>